<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Hakkımızda</h2>
    </div>

    <div class="row content">
      <div class="col-lg-12">
        <!--<p>
          Fizyoterapi ve diyetetik öğrencilerini toplumun ve iş yaşamının gereksinimlerine evrensel standartlarda yanıt verebilen yenilikçi ve öncü hale gelmelerine yol gösterici bir eğitim platformuyuz.
        </p>-->
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Biz araştırmacı, istekli, ve
            dinamik lisans öğrencileri olarak bildiğimiz yöntem ve teknikleri
            kullanarak bu soruların cevaplarını aramak, bulduklarımızı sizlerle
            paylaşmak, ilgi alanlarınızda size destek olmak ve ufkunuzu açmak
            için bir araya geldik.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Biz GOATALKS olarak sizleri
            merkez odağımıza alarak geliştiriyoruz, siz gelişirken biz de
            gelişiyoruz. Biz eğlenirken sizi de eğlendiriyoruz.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Eğer sen de gücüne güç, bilgine
            bilgi, networküne network katmak istiyorsan daha neyi bekliyorsun…
            Bize katıl ve gelişimini izle.
          </li>
        </ul>
        <div class="learn-more-btn">
          <a href="#team" class="btn-learn-more">Ekibimiz</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
