{% extends 'base.html' %} {% block body %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container" style="text-align: center">
      {% if url_for(request.endpoint) == "/blog" %}
      <h2>BLOG</h2>
      {% endif %}
      {% if url_for(request.endpoint) == "/makale" %}
      <h2>MAKALELER</h2>
      {% endif %}
      {% if url_for(request.endpoint) == "/egzersizler" %}
      <h2>EGZERSİZLER</h2>
      {% endif %}
      {% if url_for(request.endpoint) == "/podcast" %}
      <h2>PODCAST</h2>
      {% endif %}
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <div class="row mx-auto">
        {% for blog in blogs %}
        <div class="col-sm-3">
          <div class="card mb-4" style="width: 100%">
            {% if url_for(request.endpoint) != "/podcast" %}
            <img class="card-img-top" src="{{ url_for('send_uploaded_file', filename=blog.image) }}" alt="">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">
                {{ blog.content[:60] | safe }}...
              </p>

              <a href="{{ url_for(request.endpoint) }}/{{ blog.id }}" class="btn blog-btn" style="width: 100%;">İncele</a>
            </div>
            <div class="card-footer text-muted">
              Yayınlanma Tarihi: {{ blog.created_date.strftime('%d.%m.%Y')}}
            </div>ß
          </div>
        </div>
        {% endfor %}
        
        
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock body %}
