    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>İLETİŞİM</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adres</h4>
                <p>Beşyol, İstanbul Aydın Üniversitesi, İnönü Cd. No:38, 34295 Küçükçekmece/İstanbul</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email</h4>
                <a href="mailto:info@example.com">
                  <p>info@example.com</p>
                </a>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefon</h4>
                <a href="tel:+905304244343"><p>0530 424 43 43</p></a>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.5871333624914!2d28.79497241541693!3d40.99052062846625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa396db59606d%3A0x6594147beb14e9b4!2sIstanbul%20Ayd%C4%B1n%20University!5e0!3m2!1sen!2str!4v1656936379962!5m2!1sen!2str" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for("get_contact") }}" method="post" class="php-email-form">
              {{ contactForm.csrf_token }}
              <div class="row">
                <div class="form-group col-md-6">
                  {{ contactForm.name.label }}
                  {{ contactForm.name(placeholder='İsminiz', class = 'form-control') }}
                </div>
                <div class="form-group col-md-6">
                  {{ contactForm.email.label }}
                  {{ contactForm.email(placeholder='Email Adresiniz', class = 'form-control') }}
                </div>
              </div>
              <div class="form-group">
                {{ contactForm.subject.label }}
                {{ contactForm.subject(placeholder='Konu', class = 'form-control')}}
              </div>
              <div class="form-group">
                {{ contactForm.message.label }}
                {{ contactForm.message(placeholder='Mesajınız...', rows='6', class = 'form-control') }}
              </div>
              <div class="text-center"><button type="submit">Gönder</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->