<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoaTalks | Login</title>
  </head>
  <body>
    <form method="post">
      <label for="username">Kullanıcı Adı</label>
      <input type="text" name="username" id="username" />
      <label for="password">Şifre</label>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Gönder" />
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
