{% extends 'base.html' %} {% block body %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <h2>Vizyonumuz</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <p>
        Fizyoterapi ve Beslenme &amp Diyetetik alanında söz sahibi olmak isteyen
        herkesin platformdan alacağı kariyer mühendisliği danışmanlığı ve bilim
        ışığındaki eğitimler servisi sayesinde; daima aktif ve güncel bilgilere
        ulaşmanı sağlayacağız.
      </p>
    </div>
  </section>
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <h2>Misyonumuz</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <p>
        Fizyoterapi ve Beslenme &amp Diyetetik alanında; çalışma hayatının
        gereksinimlerini tamamlayan, toplum sağlığına liderlik edecek yenilikçi
        bireylereyol gösterici ve evrensel standartların üstünde planlanan
        kariyer mühendisliği platformu.
      </p>
    </div>
  </section>
</main>
<!-- End #main -->
{% include 'contact.html' %} {% endblock body %}
