{% extends 'base.html' %} {% block body %} 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <h2>Vizyonumuz</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <p>
        Fizyoterapi ve diyetetik öğrencilerini toplumun ve iş yaşamının
        gereksinimlerine evrensel standartlarda yanıt verebilen, yenilikçi öncü
        hale gelmelerine yol gösterici, öğrencilerin her daim aktif olarak
        kullanabileceği aktif konsept olmak.
      </p>
    </div>
  </section>
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <h2>Misyonumuz</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <p>
        Etkinliğimiz, çevikliğimiz ve örgütsel verimliliğimizle ilgili bölümlerde okuyan öğrenciler veya okumak
isteyen öğrencilere kattığımız değeri, sağlayacağımız olanakları sürekli ve belirgin bir biçimde
artırmak.
      </p>
    </div>
  </section>
</main>
<!-- End #main -->
{% include 'contact.html' %}
{% endblock body %}
