<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
      >
        <div class="content">
          <h3>  
             <strong>Neden GOATALKS?</strong>
          </h3>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
                ><span>01</span> Biz Kimiz?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-1"
                class="collapse show"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Fizyoterapi ve diyetetik öğrencilerini toplumun ve iş yaşamının gereksinimlerine evrensel standartlarda yanıt verebilen yenilikçi ve öncü hale gelmelerine yol gösterici bir eğitim platformuyuz.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
                ><span>02</span> Ne Yapacağız?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Etkinliğimiz, çevikliğimiz ve örgütsel verimliliğimizle ilgili bölümlerde okuyan öğrenciler veya mezun olmuş meslektaşlarımıza kattığımız değeri, sağlayacağımız olanakları sürekli ve belirgin bir biçimde arttıracağız.
                <br><br>
                  Genç ve dinamik yönetim kadromuz, tecrübeli ve bilgili eğitim kadromuzla öğrencilerin istek ve ihtiyaçları doğrultusunda onlara en doğru ve en iyi eğitimi sunmayı hedefliyoruz.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
                ><span>03</span> Neden Farklıyız?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Çünkü biz öğrencilerle birebir iletişim halindeyiz. Onların ulaşmak istediği eğitimlere, en kaliteli ve en uygun fiyatlarla  sunmayı hedefliyoruz.
<br><br>
                  Türkiyede tek olan Sağlık Bakanlığı ve Üniversite onaylı sertifikalarla öğrencilerin iş yaşamındaki verimliliğini de arttırıyoruz.

                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url('{{ url_for("static", filename="img/why-us.png") }}')"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        &nbsp;
      </div>
    </div>
  </div>
  
</section>
<!-- End Why Us Section -->
